automations/n8n/BANCO DE PROMPTS - Deep Scraper.json
{
  "name": "BANCO DE PROMPTS - Deep Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "fa4502bf-cdc2-48be-b937-c6cd14be4cde",
      "name": "Agendamento Diário",
      "position": [
        3888,
        2896
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "automation_config",
        "limit": 1,
        "filterType": "string",
        "filterString": "key=eq.banana_prompts_state"
      },
      "id": "b395563f-35df-4fe4-ab22-8a4851fd429b",
      "name": "Carregar Estado Salvo",
      "position": [
        4128,
        2896
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "ta1XyquWeL2aUlgz",
          "name": "bancodeprompts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst config = rows?.[0]?.json?.value || {};\nconst today = new Date().toISOString().slice(0, 10);\nconst isNewDay = (config.last_run_date || null) !== today;\nreturn [{ json: {\n  offset: isNewDay ? (config.last_good_offset || 0) : (config.current_offset || 0),\n  novos_hoje: isNewDay ? 0 : (config.novos_hoje || 0),\n  totalVerificados: isNewDay ? 0 : (config.totalVerificados || 0),\n  last_good_offset: config.last_good_offset || 0,\n  metaDiaria: 10,\n  capVerificados: 500,\n  hasMore: true,\n  today\n}}];"
      },
      "id": "62ce14ae-4bd2-4b91-829d-a101ba4d4e45",
      "name": "Inicializar Estado",
      "position": [
        4368,
        2896
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://www.bananaprompts.xyz/api/prompts?offset={{ $json.offset }}&limit=100&sort=newest",
        "options": {}
      },
      "id": "c3ea8861-6f8d-4ce7-a818-021a1096c7d6",
      "name": "Buscar Prompts",
      "position": [
        4608,
        2768
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "maxTries": 3,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompts_vault",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "852615b2-153b-46ce-8d47-02989e1c67a4",
      "name": "Carregar IDs Existentes",
      "position": [
        4608,
        3008
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "ta1XyquWeL2aUlgz",
          "name": "bancodeprompts"
        }
      }
    },
    {
      "parameters": {},
      "id": "04bf80f8-055f-44dd-8c9b-7b6086ecc625",
      "name": "Merge Dados",
      "position": [
        4848,
        2896
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst estado = $('Inicializar Estado').first().json;\n\nlet apiResponse = null;\nconst existingIds = new Set();\n\nfor (const item of allItems) {\n  if (Array.isArray(item.json.items)) apiResponse = item.json;\n  else if (item.json.original_id) existingIds.add(item.json.original_id);\n}\n\nconst currentOffset = estado.offset || 0;\nlet novos_hoje = estado.novos_hoje || 0;\nlet totalVerificados = estado.totalVerificados || 0;\nconst metaDiaria = estado.metaDiaria || 10;\nconst capVerificados = estado.capVerificados || 500;\nconst today = estado.today;\nconst last_good_offset = estado.last_good_offset || 0;\n\nif (!apiResponse) {\n  return [{ json: {\n    _tem_novos: false,\n    _meta: { hasMore: false, nextOffset: currentOffset + 100, novos_hoje, totalVerificados, metaDiaria, capVerificados, today, last_good_offset }\n  }}];\n}\n\nconst items = apiResponse.items || [];\nconst hasMore = apiResponse.hasMore || false;\ntotalVerificados += items.length;\n\nconst candidatos = items.filter(i => !i.isPremium && i.prompt && i.prompt.trim() !== '');\nconst ineditos = candidatos.filter(i => !existingIds.has(i.id));\nconst aProcessar = ineditos.slice(0, Math.max(0, metaDiaria - novos_hoje));\nconst novoLastGoodOffset = aProcessar.length > 0 ? currentOffset : last_good_offset;\n\nconst meta = {\n  hasMore,\n  nextOffset: currentOffset + 100,\n  novos_hoje: novos_hoje + aProcessar.length,\n  totalVerificados,\n  metaDiaria,\n  capVerificados,\n  today,\n  last_good_offset: novoLastGoodOffset\n};\n\nif (aProcessar.length === 0) {\n  return [{ json: { _tem_novos: false, _meta: meta } }];\n}\n\nconst resultado = aProcessar.map(item => ({\n  json: {\n    _tem_novos: true,\n    original_id: item.id,\n    title: item.title,\n    full_prompt: item.prompt,\n    image_url: item.image || null,\n    author_name: item.creatorName || null,\n    tags: item.tags || [],\n    source_url: `https://www.bananaprompts.xyz/prompts/${item.id}`,\n    model_name: item.model || null,\n    _meta: meta\n  }\n}));\n\nreturn resultado;"
      },
      "id": "d6052c2e-095a-400a-ac82-255ece8baba6",
      "name": "Filtrar e Transformar",
      "position": [
        5088,
        2896
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json._tem_novos }}",
        "rules": {
          "rules": [
            {
              "value2": true
            },
            {
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "60e48acf-8182-4feb-a20f-978bb178955d",
      "name": "Tem Novos?",
      "position": [
        5328,
        2896
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableId": "prompts_vault",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "_meta,_tem_novos"
      },
      "id": "601c6c27-2492-4a9a-8aab-16a227be6229",
      "name": "Salvar no Supabase",
      "position": [
        5568,
        2768
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "ta1XyquWeL2aUlgz",
          "name": "bancodeprompts"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet meta = null;\nfor (const item of items) {\n  if (item.json._meta) { meta = item.json._meta; break; }\n}\nif (!meta) {\n  return [{ json: {\n    continue: false,\n    motivo: 'sem_meta',\n    _save_state: { offset: 0, novos_hoje: 0, totalVerificados: 0, last_good_offset: 0, last_run_date: null, current_offset: 0 }\n  }}];\n}\nconst { novos_hoje, totalVerificados, metaDiaria, capVerificados, hasMore, nextOffset, today, last_good_offset } = meta;\nconst metaAtingida = novos_hoje >= metaDiaria;\nconst capEstourado = totalVerificados >= capVerificados;\nconst deveContinuar = !metaAtingida && !capEstourado && hasMore;\nlet motivo = 'continuando';\nif (metaAtingida) motivo = `meta_atingida (${novos_hoje}/${metaDiaria})`;\nelse if (capEstourado) motivo = `cap_atingido (${totalVerificados})`;\nelse if (!hasMore) motivo = 'sem_mais_paginas';\nreturn [{ json: {\n  continue: deveContinuar,\n  motivo,\n  offset: nextOffset,\n  novos_hoje,\n  totalVerificados,\n  last_good_offset,\n  metaDiaria,\n  capVerificados,\n  hasMore,\n  today,\n  _save_state: {\n    offset: nextOffset,\n    novos_hoje,\n    totalVerificados,\n    last_good_offset,\n    last_run_date: today,\n    current_offset: deveContinuar ? nextOffset : 0\n  }\n}}];"
      },
      "id": "10fb2d1b-8abf-4cff-8b0d-8f06e46b4715",
      "name": "Contabilizar e Decidir",
      "position": [
        5808,
        2912
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.continue }}",
        "rules": {
          "rules": [
            {
              "value2": true
            },
            {
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "76c27ed5-e7b8-46ab-bf82-2802a5a325f2",
      "name": "Continuar Loop?",
      "position": [
        6048,
        2896
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "automation_config",
        "filterType": "string",
        "filterString": "key=eq.banana_prompts_state",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "value",
              "fieldValue": "={{ JSON.stringify($json._save_state) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "e7308768-821f-42b1-be25-574f9dbb38bd",
      "name": "Salvar Estado Final",
      "position": [
        6304,
        2912
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "ta1XyquWeL2aUlgz",
          "name": "bancodeprompts"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento Diário": {
      "main": [
        [
          {
            "node": "Carregar Estado Salvo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Estado Salvo": {
      "main": [
        [
          {
            "node": "Inicializar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar Estado": {
      "main": [
        [
          {
            "node": "Buscar Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Carregar IDs Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Prompts": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar IDs Existentes": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Dados": {
      "main": [
        [
          {
            "node": "Filtrar e Transformar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar e Transformar": {
      "main": [
        [
          {
            "node": "Tem Novos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Novos?": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contabilizar e Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase": {
      "main": [
        [
          {
            "node": "Contabilizar e Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contabilizar e Decidir": {
      "main": [
        [
          {
            "node": "Continuar Loop?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar Loop?": {
      "main": [
        [
          {
            "node": "Buscar Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Estado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9471a929-66c7-43d8-bcef-d1ffabab89aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eac1f0d65b6dcbc3147f8b069e0700a65ee10dbf7e168a0fa961458a26ca6ac3"
  },
  "id": "tKRng0JHYv4y5lTa",
  "tags": []
}