automations/n8n/deep_scraper_bancodeprompts.json
{
    "id": "tKRng0JHYv4y5lTa",
    "name": "BANCO DE PROMPTS - Deep Scraper",
    "active": false,
    "nodes": [
        {
            "id": "a1b2c3d4-0001",
            "name": "Agendamento Diário",
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "expression": "0 3 * * *",
                            "field": "cronExpression"
                        }
                    ]
                }
            },
            "position": [
                0,
                0
            ],
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3
        },
        {
            "id": "a1b2c3d4-0002",
            "name": "Iniciar Contador",
            "parameters": {
                "jsCode": "// BANCO DE PROMPTS — Inicialização\n// maxPages controla quantas páginas buscar (1 página = ~100 prompts)\n// Aumente gradualmente: 1 → 5 → 10 → sem limite\nconst maxPages = 1;\n\nreturn [{\n  json: {\n    page: 1,\n    maxPages: maxPages,\n    hasMore: true,\n    totalProcessed: 0\n  }\n}];"
            },
            "position": [
                260,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "id": "f7e8d9c0-http-final",
            "name": "Buscar Página de Prompts",
            "onError": "continueRegularOutput",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000,
            "parameters": {
                "authentication": "none",
                "method": "GET",
                "options": {},
                "url": "=https://www.bananaprompts.xyz/api/prompts?page={{ $json.page }}&limit=100&sort=newest"
            },
            "position": [
                520,
                0
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "id": "a1b2c3d4-0004",
            "name": "Filtrar & Transformar",
            "parameters": {
                "jsCode": "// BANCO DE PROMPTS — Filtragem e transformação\nconst input = $input.first().json;\nconst items = input.items || [];\nconst hasMore = input.hasMore || false;\nconst currentPage = input.offset !== undefined ? Math.floor(input.offset / 100) + 1 : 1;\n\n// Remove itens premium e com prompt vazio\nconst freePrompts = items.filter(item => !item.isPremium && item.prompt && item.prompt.trim() !== '');\n\n// Transforma para o schema da tabela prompts_vault\nconst transformed = freePrompts.map(item => ({\n  json: {\n    original_id: item.id,\n    title: item.title,\n    full_prompt: item.prompt,\n    image_url: item.image || null,\n    author_name: item.creatorName || null,\n    tags: item.tags || [],\n    source_url: `https://www.bananaprompts.xyz/prompts/${item.id}`,\n    _meta: {\n      hasMore: hasMore,\n      nextPage: currentPage + 1,\n      processedInBatch: freePrompts.length\n    }\n  }\n}));\n\n// Página sem prompts gratuitos mas com mais páginas\nif (transformed.length === 0 && hasMore) {\n  return [{ json: { _skip: true, _meta: { hasMore: true, nextPage: currentPage + 1, processedInBatch: 0 } } }];\n}\n\n// Fim dos dados\nif (transformed.length === 0 && !hasMore) {\n  return [{ json: { _done: true, _meta: { hasMore: false } } }];\n}\n\nreturn transformed;"
            },
            "position": [
                780,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "id": "a1b2c3d4-0010",
            "name": "Tem Original ID?",
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "cond_has_original_id",
                            "leftValue": "={{ !!$json.original_id }}",
                            "operator": {
                                "operation": "true",
                                "singleValue": true,
                                "type": "boolean"
                            },
                            "rightValue": ""
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    }
                },
                "options": {}
            },
            "position": [
                1040,
                0
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3
        },
        {
            "id": "a1b2c3d4-0006",
            "name": "Salvar no Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "ta1XyquWeL2aUlgz",
                    "name": "bancodeprompts"
                }
            },
            "parameters": {
                "operation": "create",
                "tableId": "prompts_vault",
                "dataToSend": "autoMapInputData",
                "inputsToIgnore": "_meta"
            },
            "position": [
                1300,
                0
            ],
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1
        },
        {
            "id": "a1b2c3d4-0007",
            "name": "Check Pagination",
            "parameters": {
                "jsCode": "// BANCO DE PROMPTS — Controle de paginação\n// Recebe itens de duas fontes:\n// 1. Salvar no Supabase (itens válidos salvos)\n// 2. Tem Original ID? → False (itens _skip/_done com _meta)\n\nconst items = $input.all();\nlet hasMore = false;\nlet nextPage = 1;\n\n// Busca _meta em qualquer item recebido\nfor (const item of items) {\n  const meta = item.json._meta;\n  if (meta) {\n    hasMore = meta.hasMore;\n    nextPage = meta.nextPage;\n    break;\n  }\n}\n\n// LIMITE DE SEGURANÇA — Crescimento Controlado\nconst maxPages = 1;\nconst dentroDoLimite = nextPage <= maxPages;\n\nreturn [{\n  json: {\n    page: nextPage,\n    hasMore: hasMore,\n    continue: hasMore === true && dentroDoLimite\n  }\n}];"
            },
            "position": [
                1560,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "id": "a1b2c3d4-0008",
            "name": "Mais Páginas?",
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "cond_continue",
                            "leftValue": "={{ $json.continue }}",
                            "operator": {
                                "operation": "true",
                                "singleValue": true,
                                "type": "boolean"
                            },
                            "rightValue": ""
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    }
                },
                "options": {}
            },
            "position": [
                1820,
                0
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3
        }
    ],
    "connections": {
        "Agendamento Diário": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Iniciar Contador",
                        "type": "main"
                    }
                ]
            ]
        },
        "Iniciar Contador": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Buscar Página de Prompts",
                        "type": "main"
                    }
                ]
            ]
        },
        "Buscar Página de Prompts": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Filtrar & Transformar",
                        "type": "main"
                    }
                ]
            ]
        },
        "Filtrar & Transformar": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Tem Original ID?",
                        "type": "main"
                    }
                ]
            ]
        },
        "Tem Original ID?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Salvar no Supabase",
                        "type": "main"
                    }
                ],
                [
                    {
                        "index": 0,
                        "node": "Check Pagination",
                        "type": "main"
                    }
                ]
            ]
        },
        "Salvar no Supabase": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Check Pagination",
                        "type": "main"
                    }
                ]
            ]
        },
        "Check Pagination": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Mais Páginas?",
                        "type": "main"
                    }
                ]
            ]
        },
        "Mais Páginas?": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Buscar Página de Prompts",
                        "type": "main"
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/Sao_Paulo",
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all"
    }
}